

<header class="jumbotron">
    <h1> {{ title }}  </h1>
  </header>

  <main class="container">
    
    <div class="row mb-4">
      <div class="col-md-12">
        <a routerLink="/cadastro" class="btn btn-primary"> Nova Foto</a>
      </div>
      
    </div>
    <div class="row" >
        <app-card *ngFor="let foto of listaFotos" [foto]="foto" class="col-md-3">  
          <button (click)="deletar(foto)" class="btn btn-large btn-danger">Excluir Foto</button>
        </app-card>
        
    </div>
     
  </main>

